.checkoutProduct{
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 20px;
}

.checkoutProduct:last-child{
  border-bottom: none;
}

.checkoutProduct__info{
  padding-left: 20px;
}

.checkoutProduct__info > button{
  border: unset;
  margin-top: 10px;
  color: rgb(60, 112, 190);
  border-radius: 5px;
  background-color: transparent;
}

.checkoutProduct__image{
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating{
  display: flex;
}

.checkoutProduct__title{
  font-size: 20px;
  font-weight: 450;
}

.checkoutProduct__price{
  font-size: 20px;
  line-height: 35px;
}

@media(max-width: 1000px){
  .checkoutProduct__title{
    font-size: 18px;
  }

  .checkoutProduct__price{
    font-size: 18px;
  }
}

@media(max-width:400px){
  .checkoutProduct{
    flex-direction: column;
  }

  .checkoutProduct__title{
    margin-top: 15px;
  }
}
