.container{
  background: white;
}

.product{
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: calc(100% - 40px);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
}

.product__rating{
  display: flex;
}

.product__rating__star{
  color: #FEBD69;
}

.product > img{
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #FFD814;
  margin-top: 10px;
  color: #111;
  border-radius: 20px;
  padding: 8px 30px;
  border: none;
}

.product__price{
  margin-top: 5px;
}

.product__info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 25px;
}

@media(max-width: 786px){
  .product__info{
    height: 120px;
  }
}


@media(max-width: 600px){
  .product{
    margin-bottom: 10px;
  }

  .product__info{
    justify-content: unset;
  }
}